@model EditPurchaseOrderModel

@{
	ViewBag.Title = "Edit Purchase Order";
	Layout = "_Layout";
}


<div class="row row-cards mt-2">
	<div class="col-1"></div>
	<div class="col-10 shadow p-3 mb-5 bg-white rounded">
		<form asp-controller="PurchaseOrder" asp-action="Edit" asp-area=""  asp-antiforgery="true" enctype="multipart/form-data">
			<div class="card-body">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

				<div class="row row-cards">
					<div class="p-1 m-3 col-md-12 col-sm-12 ">
						<h3 class="card-title text-center">Edit Purchase Order</h3>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="mb-3">
							<label asp-for="SupplierId" class="form-label">Supplier</label>
							<select id="supplierDropdown" class="form-control" asp-for="SupplierId">
								<option value="">-- Select Supplier --</option>
								@foreach (var supplier in Model.Suppliers)
								{
									<option value="@supplier.Id" data-category-name="@supplier.Name">@supplier.Name</option>
								}
							</select>
							<span asp-validation-for="SupplierId" class="text-danger"></span>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="mb-3">
							<label asp-for="ProductId" class="form-label">Product Name</label>
							<select id="productDropdown" class="form-control" asp-for="ProductId">
								<option value="">-- Select Product --</option>
								@foreach (var product in Model.Products)
								{
									<option value="@product.Id" data-category-name="@product.Name">@product.Name</option>
								}
							</select>
							<span asp-validation-for="ProductId" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm-6 col-md-6">
						<div class="mb-3">
							<label asp-for="Quantity" class="form-label"></label>
							<input asp-for="Quantity" type="number" class="form-control" placeholder="Product Quantity" required>
							<span asp-validation-for="Quantity" class="text-danger"></span>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<div class="mb-3">
							<label asp-for="UnitPrice" class="form-label"></label>
							<input asp-for="UnitPrice" type="number" class="form-control" placeholder="Product UnitPrice" required>
							<span asp-validation-for="UnitPrice" class="text-danger"></span>
						</div>
					</div>

					<div class="col-sm-6 col-md-6">
						<div class="mb-3">
							<label asp-for="Status" class="form-label">Order Status</label>
							<select id="statusDropdown" class="form-control" asp-for="Status">
								<option value="@Model.Status">@Model.Status</option>
								<option value="approved">approved</option>
								<option value="pending">pending</option>
							</select>
							<span asp-validation-for="Status" class="text-danger"></span>
						</div>
					</div>


					<input type="hidden" asp-for="SupplierName" id="SupplierName" />
					<input type="hidden" asp-for="ProductName" id="ProductName" />

				</div>
			</div>
			<div class="card-footer text-center">
				<button type="submit" class="btn btn-primary">Edit Purchase Order </button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
		const supplierDropdown = document.getElementById('supplierDropdown');
		const supplierNameInput = document.getElementById('SupplierName');

		// Update supplier name when supplier is selected
		supplierDropdown.addEventListener('change', function () {
			const selectedOption = supplierDropdown.options[supplierDropdown.selectedIndex];
			const supplierName = selectedOption.getAttribute('data-category-name');
			supplierNameInput.value = supplierName; // Set the hidden field value
		});

		const productDropdown = document.getElementById('productDropdown');
		const productNameInput = document.getElementById('ProductName');

		// Update product name when product is selected
		productDropdown.addEventListener('change', function () {
			const selectedOption = productDropdown.options[productDropdown.selectedIndex];
			const productName = selectedOption.getAttribute('data-category-name');
			productNameInput.value = productName; // Set the hidden field value
		});
	});

</script>


